/* Custom CSS goes here */
h1 {
  /* font-size: var(--abrilheadingSize); */
  font-family: 'Rockwell';
  color: #3D84A8;
  padding: 10px 0px;
  text-align: center;
}

h2 {
  font-family: 'Lucida Handwriting';
  color: #5b656a;
  padding: 10px 0px;
  text-align: center;
}

h3{
  margin: auto;
  width: 50%;
  padding: 10px 0px;
  text-align: center;
  font-family: 'Copperplate Gothic Light';
}

  /* - - - - - - - Others - - - - - - - */

body {
    padding-bottom: 70px;
  }
  
  .input-group-addon:first-child
  {
      border-right: 0;
  }
  
  .input-group-addon
  {
      padding: 6px 12px;
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
      text-align: center;
      border: 1px solid darkgrey;
      border-radius: 4px; 
  }
  
  .input-group-addon .fa
  {
      font-size: 18px;
  }
  
  .input-group .form-control
  {
      position:relative;
      z-index: 2;
      float:left;
      margin-bottom: 0;
  }
  
  .input-group .form-control:last-child
  {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  
  
  
  .login
  {
      padding: 2rem 1rem;
      margin-bottom: 2rem;
      background-color: lightgrey;
      border-radius: .3rem;
  }
  
  .login input
  {
      background-color: white;
      border-color: darkgrey;
      border-radius: .4em;
      width: 100%;
  }
  
  .edit-task
  {
      position: relative;
      top: -31px;
      display: none;
  }
  
  .nav {
      background-color: #ffffff;
      color: #000000;
      list-style: none;
      text-align: right;
      padding: 20px 0 20px;
  }
  
  .nav > li {
      margin-left: 100px;
      padding: 12px 0 0 5px;
      font-size: 12px;
  }
  
  .nav > li > a {
      text-decoration: none;
      color: #000000;
  }
  
  .coname {
      color: #000000;
      float: left;
      padding-left: 25px;
      font-size: 16px;
      font-weight: bold;
  }

  /* - - - - - - - About Page - - - - - - - */

.main-page-section {
  position: relative;

}

.sps > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.bg-transbox {
    position: relative; 
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    background-image: url(./content/homepic1.jpg);
}
/*
.bg-transbox::before {
    content: "";
    background-image: url(./content/homepic1.jpg);;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;  
}
*/
.h2 {
  position: relative;
  color: #94A2A8;
  font-size: 14rem;
  line-height: 0.9;
  text-align: center;
}

/* Style for switch button */
.switch{
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
  margin: 0 10px;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.switch input {display: none}

.slider:before{
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 5px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50px;
}

input:checked + .slider
{
  background-color: #ff278c;
}

input:checked + .slider:before
{
  transition: translateX(50px);
}
