.main-page-section {
  position: relative;
  margin-top: 10px;
}

div.main-content {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

h3{
  margin: auto;
  width: 50%;
  padding: 10px 0px;
  text-align: center;

}

.sps > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}